.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.content {
  margin-left: 250px;
}

.logo-img {
  width: 35px;
}

.brand {
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-link {
  color: #000000a6;
  font-weight: 500;
  border-radius: 8px;
  margin-bottom: 5px;
}

.nav-link:hover,
.nav-link.active {
  background-color: rgba(0, 0, 0, 0.08);
}

.sidebar-footer {
  margin-top: auto;
}

.dropdown-menu {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.logout-item {
  color: #dc3545;
  font-weight: 500;
}

.bg-custom {
  background-color: #F8F9FA;
}
